<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        body {
            font-family: Raleway, sans-serif;
            background-color: #fff;
            margin: 0;
            padding: 0;
        }
        footer {
            width: 100%;
            display: inline-block;
            margin: 2em 0;
            background-color: transparent;
            text-align: center;
            padding: 1em 0;
        }
        .social {
            margin-bottom: 1em;
        }
        .social a {
            margin: 0 10px;
            color: white;
            font-size: 1.5em;
            text-decoration: none;
            display: inline-block;
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 50%;
            text-align: center;
        }
        .social a.facebook {
            background-color: #3b5998;
        }
        .social a.twitter {
            background-color: #55acee;
        }
        .social a.google {
            background-color: #dd4b39;
        }
        .social a.instagram {
            background-color: #e4405f;
        }
        .social a.linkedin {
            background-color: #0077b5;
        }
        .social a.github {
            background-color: #333;
        }
        .copyright {
            color: gray;
            font-size: 0.9em;
        }
    </style>
</head>
<body>
    <footer>
        <div class="social">
            <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
            <a href="#" class="google"><i class="fab fa-google"></i></a>
            <a href="https://www.instagram.com/instaboy_suvam/" class="instagram"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/suvam-agrawal-7b645122b/" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://github.com/Suvam3456" class="github"><i class="fab fa-github"></i></a>
        </div>
        <div class="copyright">
            © 2024 Copyright: TravelNest.com
        </div>
    </footer>
</body>
</html>
